* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 18px;
	padding: .5em 2em;
	text-align: center;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.25em;
}

#button-play-again {
	margin: 0 auto;
}

#container {
	margin: 2em auto;
	width: 100%;
}

#play-again {
	margin: 0 auto;
}

#game-board {
	display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
} /* Changed the game board to be a grid instead of on CSS. */

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
} /* Changed the games square class to the cell class and styled the grid. */